<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.springcache.redis.mapper.BatchTaskInfoMapper">

	<resultMap id="BatchTaskMap" type="cn.springcache.redis.model.BatchTaskInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<id column="task_name" property="taskName"/>
		<id column="task_group" property="taskGroup"/>
		<id column="task_type" property="taskType"/>
		<id column="cron" property="cron"/>
		<id column="class_name" property="className"/>
		<id column="status" property="status"/>
		<id column="lastest_time" property="lastestTime"/>
		<id column="desc" property="desc"/>
	</resultMap>


	<select id="selectAll" resultMap="BatchTaskMap">
		select * from batch_task_info
	</select>

</mapper>